@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    box-sizing: border-box;
}

/*variables*/
:root {
    --container-color: #1a1a1a;
    --second-color: #AD8330;
    --text-color: #172317;
    --bg-color: #fff;
}

::selection {
    color: var(--bg-color);
    background: var(--second-color);
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
img{
    width: 100%;
}
section{
    padding: 3rem 0 2rem;
}

.container {
    max-width: 1068px;
    margin: auto;
    width: 100%;
}

/*header*/
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 200;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 0;
}

.blog-logo img {
    font-size: rem;
    font-weight: 600;
}

.blog-btn{
    padding: 8px 14px;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 4px;
    background-color: var(--second-color);
    color: var(--bg-color);
}

.blog-btn:hover {
  background: hsl(24, 95, 58%);
  transition: 0.3s;
}
/*home*/
.home {
 width: 100%;
 min-height: 440px;
 background: var(--container-color);
 display: grid;
 align-items: center;
 justify-content: center;
}

.home-text {
    color: var(--bg-color);
    text-align: center;
}

.home-title{
    font-size: 3.5rem;
}

.home-subtitle {
    font-size: 1rem;
    font-weight: 500;
}

/*post filter*/

.post-filter {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1.5rem;
    margin-top: 2rem !important;
    font-weight: 500;
}
.filter-item {
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
}

.active-filter {
    background: var(--second-color);
    color: var(--bg-color);
    padding: 4px 10px;
    border-radius: 4px;
}